.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    .page-item {
        
        font-size: 22px;
        

        .page-link {
            display: block;
            height: 40px;
            width: 40px;
            text-align: center;
            border: 1px solid grey;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(227, 227, 227);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}