
.rick-morty-home .rick-morty-content {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
}

.rick-morty-home .rick-morty-logo {
    margin: 0 auto 16px auto;
}